---
layout: default
title: Password
password: true
---

<div class="ui vertical stripe segment">
  {% include loading_progress.html %}
  <div class="ui middle aligned center aligned grid">
    <div class="row">
      <form class="ui form" action="javascript:void(0)">
        <div class="ui action input">
          <input type="text" type="text" id="password-generate-result" readonly="" />
          <button class="ui copy icon button" data-clipboard-target="#password-generate-result" data-content="Copied"
            data-position="right center"><i class="copy icon"></i></button>
        </div>
        <hr>
        <div class="ui action input">
          <input type="number" id="password-generate-length" min="1" value="16" placeholder="密码长度" required />
          <button itype="submit" id="password-generate-submit" class="ui icon button"><i class="play icon"></i></button>
        </div>
        <div class="ui message">
          <div class="header">Options</div>
          <ul class="ui list">
            <li class="item">
              <div class="ui checkbox">
                <input type="checkbox" id="password-option-digit" checked>
                <label>Numbers (0-9)</label>
              </div>
            </li>
            <li>
              <div class="ui checkbox">
                <input type="checkbox" id="password-option-lower" checked>
                <label>Lowercase (a-z)</label>
              </div>
            </li>
            <li>
              <div class="ui checkbox">
                <input type="checkbox" id="password-option-upper" checked>
                <label>Uppercase (A-Z)</label>
              </div>
            </li>
            <li>
              <div class="ui checkbox">
                <input type="checkbox" id="password-option-special" />
                <label>Symbols (+=-@#~,.[]()!%^*$)</label>
              </div>
            </li>
            <li>
              <div class="ui checkbox">
                <input type="checkbox" id="password-option-readable" checked>
                <label>No Similar (0OIl)</label>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
{% include footer_thanks.html %}
