---
layout: default
home: true
---

{% for section in site.data.links %}
<div class="ui vertical stripe links segment">
  {% include loading_progress.html %}
  <div class="ui stackable three column internally grid celled container">
    <div class="center aligned row">
      {% for item in section.categories %}
      <div class="links column">
        <div class="ui top attached large label">[ {{ item.category }} ]</div>
        <div class="ui labels">
          {% for link in item.links %}<a class="ui {{ link.style }} label" href="{{ link.url }}" target="_blank">{% if
            link.icon %}<i class="{{ link.icon }} icon"></i>{% endif %}{{ link.name }}</a>{% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
