<div class="ui text container">
    <div class="search">
        <div class="ui text container"><a id="hitokoto" class="ui grey pointing below label"></a></div>
        <img class="ui image centered logo" src="/images/logo.png" alt="logo"/>
        <h3 class="ui center aligned">Bang · Fast and Geek</h3>
        <div class="ui inverted fluid right icon left action input">
            <i id="bang" class="ui button">!</i>
            <input id="input" type="text" placeholder="Enter Search">
        </div>
        <div class="ui labels shortcuts advanced">
            <a class="ui teal label"> site:</a>
            <a class="ui blue label"> inurl:</a>
            <a class="ui orange label"> intitle:</a>
            <a class="ui violet label"> inanchor:</a>      
            <a class="ui brown label"> filetype:</a>      
        </div>
    </div>
</div>