<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="center aligned column">
        <div class="ui large buttons">
          <a class="ui positive left labeled icon button" href="https://saythanks.io/to/yunsur" target="_blank"><i
              class="smile icon"></i>Say Thanks</a>
          <div class="or" data-text="or"></div>
          <a class="ui negative right labeled icon button" href="https://github.com/yunsur/yunsur.github.io/issues/new"
            target="_blank"><i class="bug icon"></i>Report Bug</a>
        </div>
      </div>
    </div>
  </div>
</div>
