<div class="footer" style="height: 40px;">
    <a href="https://blog.yunsur.com" style="color: #777;">Blog</a> | 
    <a href="https://yunsur.com/macos-setup" style="color: #777;">Docs</a> | 
    <a href="https://cdn.yunsur.com" style="color: #777;">CDN</a> | 
    <a href="https://github.com/yunsur/yunsur.github.io" style="color: #777;">Github</a><br>
    © {{ site.started_at | date: "%Y" }}-{{ site.time | date: "%Y" }} by <a href="{{ site.author_url }}">{{ site.author }}</a>. All rights
    reserved.
</div>
