<div class="ui text container">
  <div class="spacing">
    {%- if site.data.banner.show -%}
      {%- if site.data.banner.hitokoto -%}
          <a id="hitokoto" class="ui {{ site.data.banner.color }} pointing below label"><i class="quote left icon"></i></a>
      {%- endif -%}
    {%- endif -%}
    <img class="ui image centered logo" src="{{ site.logo }}" id="bang" alt="logo" />
    <h3 class="ui center aligned">{{ site.title }}</h3>
    <div class="ui fluid category search">
        <div class="ui inverted fluid left icon input">
          <input id="input" class="prompt" type="text" placeholder="Search">
          <i class="terminal icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="ui labels shortcuts advanced">
      {% for item in site.data.advanced %}
        <a class="ui {{ item.color }} label csgo" name="{{ item.name }}" data-tooltip="{{ item.tooltip }}" data-position="bottom center" data-inverted=""><i class="ui {{ item.icon }} fitted icon"></i></a>
      {% endfor %}
    </div>
  </div>
</div>
