<div class="ui text container">
    <div class="search">
        <div class="ui text container"><a id="hitokoto" class="ui grey pointing below label"></a></div>
        <img class="ui image centered logo" src="/images/logo.png" alt="logo"/>
        <h3 class="ui center aligned">Bang · Fast and Geek</h3>
        <div class="ui inverted fluid right icon left action input">
            <i id="bang" class="ui button">!</i>
            <input id="input" type="text" placeholder="Search">
        </div>
        <div class="ui labels shortcuts advanced">
            <a class="ui teal label csgo" data-position="bottom center" data-content="site:domain"> site:</a>
            <a class="ui blue label csgo" data-position="bottom center" data-content="inurl:keyword"> inurl:</a>
            <a class="ui orange label csgo" data-position="bottom center" data-content="intitle:keyword"> intitle:</a>
            <a class="ui violet label csgo" data-position="bottom center" data-content="inanchor:keyword"> inanchor:</a>      
            <a class="ui brown label csgo" data-position="bottom center" data-content="filetype:extension" > filetype:</a>      
        </div>
    </div>
</div>