<a class="item loading-trigger" href="{{ '/' | relative_url }}"><i class="{% if page.home %}yellow {% endif %}warning icon"></i>Bang</a>
<a class="item loading-trigger" href="{{ '/status/' | relative_url }}"><i class="{% if page.status %}green {% endif %}sitemap icon"></i>Status</a>
<a class="item loading-trigger" href="{{ '/win/' | relative_url }}"><i class="{% if page.win %}blue {% endif %}windows icon"></i>Win</a>
<a class="item loading-trigger" href="{{ '/help/' | relative_url }}"><i class="{% if page.help %}red {% endif %}help icon"></i>Help</a>