.logo {    
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
}
.logo:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}
.search {
	position: relative;
	height: 100vh;
	padding-top: 10%;  		
	text-align: center;
	color: #fff;
	background-color: #1E2327;	
}
.center {
	width: 75%;
	margin: 0 auto;
}
.scroll-down {
	position: absolute; 	
	width: 100%; 					
	text-align: center;
	bottom: 0;
}
.main {
	padding: 2% 0 2% 0;
}
.sidebar {
	padding-left: 40%;
}
.sidebar-title {
	padding-bottom: 1%;   
	font-size: 1.15em;
	text-align: center;	
	border-left: 3px solid #555;
}
.sidebar-url{
	margin: 0;	
	padding: 0;
}
.sidebar-url li {
	width: 110px;
    text-align: center;
    list-style: none;
}
.sidebar-url>li>a:focus, .sidebar-url>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
.sidebar-url>li>a {
    position: relative;
    display: block;
    padding: 8px;
}
.links-title {
	padding-bottom: 1%;
	font-size: 1.15em;
	border-bottom: 1px solid #ccc;
}
.links-url {
	overflow: hidden;
	padding-left: .1em;
}
.links-url li {
	float: left;
	list-style: none;
	width: 110px;
	margin-top: .6em;
	text-align: center;
}
.links-url>li>a:focus, .links-url>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
.links-url>li>a {
    position: relative;
    display: block;
    padding: 8px;
}
.footer {	
    padding: 1em;
    font-size: 1.6rem;
	text-align: center;
	color: #555;
	background-color: #1E2327;
}
a:active,a:hover,a:link,a:visited {
	color: #555;
	text-decoration: none;
}