---
layout: default
title: Win
win: true
---

<div class="ui vertical stripe segment">
  {% include loading_progress.html %}
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      {% for section in site.data.soft %}
      {% for item in section.categories %}
      <h3 class="ui header">{{ item.category }}</h3>
      <table class="ui blue table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for link in item.links %}
          <tr>
            <td>{{ link.name }}</td>
            <td>{{ link.desc }}</td>
            <td>
              <div class="ui star rating" data-rating="{{ link.rating }}" data-max-rating="5"></div>
            </td>
            <td><a href="{{ link.url }}" target="_blank">Download</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
      {% endfor %}
      {% for section in site.data.micro %}
      {% for item in section.categories %}
      <h3 class="ui header">{{ item.category }}</h3>
      <table class="ui blue table">
        <thead>
          <tr>
            <th>Name</th>
            <th>SHA1</th>
            <th>Date</th>
            <th>Size</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for link in item.links %}
          <tr>
            <td>{{ link.name }}</td>
            <td>{{ link.sha1 }}</td>
            <td>{{ link.date }}</td>
            <td>{{ link.size }}</td>
            <td><a href="{{ link.url }}" target="_blank">Download</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% include footer_thanks.html %}
