<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="started_at" content="{{ site.started_at }}" />
  <meta name="updated_at" content="{{ site.time | date: "%Y-%m-%d" }}" />
  {% seo %}
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  <link rel="apple-touch-icon" type="image/png" href="{{ '/apple-touch-icon.png' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/semantic.min.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/common.css' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/masthead.css' | relative_url }}">
  {% if page.home %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/home.css' | relative_url }}">{% endif %}
  {% if page.status %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/other.css' | relative_url }}">{% endif %}
  {% if page.password %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/other.css' | relative_url }}">{% endif %}
  {% if page.win %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/other.css' | relative_url }}">{% endif %}
  {% if page.help %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/other.css' | relative_url }}">{% endif %}
  {% if page.error %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/other.css' | relative_url }}">{% endif %}
  {% include analytics.html %}
</head>

<body>
  {% include menu_following.html %}
  {% include menu_sidebar.html %}
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment zoomed">
      {% include menu_page.html %}
      {% if page.home %}{% include home_search.html %}{% endif %}
      {% if page.status %}{% include header_status.html %}{% endif %}
      {% if page.password %}{% include header_password.html %}{% endif %}
      {% if page.win %}{% include header_win.html %}{% endif %}
      {% if page.help %}{% include header_help.html %}{% endif %}
      {% if page.error %}{% include header_error.html %}{% endif %}
    </div>
    {{ content }}
    {% include footer_page.html %}
  </div>
  {% include loading_dimmer.html %}
  <script src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/semantic.min.js' | relative_url }}"></script>
  {% if page.status %}<script src="https://cdn.bootcss.com/clipboard.js/2.0.1/clipboard.min.js"></script>{% endif %}
  {% if page.password %}<script src="https://cdn.bootcss.com/clipboard.js/2.0.1/clipboard.min.js"></script>{% endif %}
  {% if page.password %}<script src="{{ '/assets/js/password.js' | relative_url }}"></script>{% endif %}
  {% if page.home %}<script src="{{ '/assets/js/hitokoto.js' | relative_url }}"></script>{% endif %}
  {% if page.status %}<script src="{{ '/assets/js/status.js' | relative_url }}"></script>{% endif %}
  {% if page.home %}<script src="{{ '/assets/js/home.js' | relative_url }}"></script>{% endif %}
  <script src="{{ '/assets/js/common.js' | relative_url }}"></script>
</body>

</html>
