<!DOCTYPE html>
<html lang="{{ site.lang }}">
  
<head>
  <meta charset="{{ site.charset }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="referrer" content="no-referrer" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="full-screen" content="yes" /><!--UC强制全屏-->
  <meta name="browsermode" content="application" /><!--UC应用模式-->
  <meta name="x5-fullscreen" content="true" /><!--QQ强制全屏-->
  <meta name="x5-page-mode" content="app" /><!--QQ应用模式-->
  <meta name="started_at" content="{{ site.started_at }}" />
  <meta name="updated_at" content="{{ site.time | date: '%Y-%m-%d' }}" />
  {% seo %}
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" type="image/png" href="/assets/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
  <link rel="manifest" href="/manifest.json" />
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="3; url=/">
  {% endif %}
  {% include styles.html %}
  {% include analytics.html %}
</head>

<body>
  {% if page.search %}{% include menu.html %}{% endif %}
  {% if page.search %}{% include weather.html %}{% endif %}
  {{ content }}
  {% include footer.html %}
  {% if page.search %}{% include scripts.html %}{% endif %}
</body>

</html>
